################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/hackathon/hackathon/obj
/hackathon/.vs
/.vs
/hackathon/hackathon/bin/Debug/net8.0
